.admin-tool-bucket {
  background: #f5f5f5;
  min-height: 100px;
  padding: 14px;
  margin: 10px auto;
  @include border-top-radius(5px);
  @include border-right-radius(5px);
  @include border-bottom-radius(5px);
  @include border-left-radius(5px);
  @include box-shadow(2px, 2px, 8px, #ccc);
}

.admin-panel {
}

.admin-panel ul {
  margin: 0;
  padding: 0;
  display: block;
  clear: both;
}
.admin-panel li {
  padding: 3px 0px 2px 6px;
  list-style: none;
  float: left;
  min-width: 33%;
  border: 1px solid white;
}

.admin-panel button {
  margin: 40px 0px 5px 0px;
  clear: both;
  display: block;
}

#logout-btn {
  margin: 4px 0;
}
