.billboard {
  min-width: 1900px !important;
}

.billboard legend {
  font-weight: 500;
  font-size: 2em !important;
  // margin-bottom: 18px !important;
}

.billboard-time {
  font-family: $lucida-grande;
  font-variant: small-caps;
}

.billboard-tool-bucket {
  background: #f5f5f5;
  min-height: 100px;
  padding: 5px;
  margin: 10px auto;
  @include box-shadow(2px, 2px, 20px, #ccc);
  @include clearfix;
}

.status-panel-billboard {
  //padding: 3px 0px 2px 6px;
  //margin: 1px;
  list-style: none;
  min-width: 49%;
  border: 1px solid #ccc;
  @include border-top-radius(6px);
  @include border-right-radius(6px);
  @include border-bottom-radius(6px);
  @include border-left-radius(5px);
  @include clearfix;
}

.billboard-tool-bucket h3 {
  margin: 10px;
}

.status-panel ul,
.status-panel-large ul,
.status-panel-billboard ul {
  padding: 0;
  margin: 0;
  @include clearfix;
}

.status-panel li {
  padding: 3px 0px 2px 6px;
  margin: 1px;
  list-style: none;
  float: left;
  min-width: 49%;
  border: 1px solid white;
}

.status-panel-large li {
  padding: 3px 0px 2px 6px;
  margin: 1px;
  list-style: none;
  float: left;
  //min-width:24.5%;
  min-width: ((100 - 1%)/ 5);
  border: 1px solid white;
  @include clearfix;
}

ul.bb {
  margin: 2px 4px 8px 0px;
  list-style: none;
  float: left;
  width: 49%;
  border: 1px solid #ccc;
  word-wrap: break-word;
}

$bb-max-width: 98.6%;
$bb-min-width: 49%;
$bb-margin: 1px 2px 1px 1px;
$bb-padding: 2px 1px 2px 10px;
$bb-boarder: 1px solid #fff;

li.bb-name {
  font-weight: 500;
  font-size: 1.4em;
  padding: 6px 1px 6px 10px;
  margin: 1px;
  min-width: $bb-max-width;
  border: $bb-boarder;
  background-color: #dfdfdf;
}

li.bb-date {
  font-weight: 300;
  font-size: 1.3em;
  padding: $bb-padding;
  margin: $bb-margin;
  min-width: $bb-min-width;
  border: $bb-boarder;
  background-color: #dfdfdf;
}

li.bb-pack {
  font-weight: 300;
  font-size: 1.3em;
  padding: $bb-padding;
  margin: $bb-margin;
  min-width: $bb-min-width;
  border: $bb-boarder;
  background-color: #dfdfdf;
}

/* For the bottom of the billboard */
ul.bb-full {
  list-style: none;
  float: left;
  word-wrap: break-word;
  width: 12%;
  margin: 2px 8px 8px 0px;
  border: 1px solid #ccc;
}

li.bb-data {
  font-weight: 300;
  font-size: 1.3em;
  padding: $bb-padding;
  margin: $bb-margin;
  min-width: $bb-min-width;
  border: $bb-boarder;
  background-color: #dfdfdf;
}

span.carpng:before {
  background-size: 14px 14px;
  display: inline-block;
  background-image: url("/imgs/car.png");
  width: 14px;
  height: 14px;
  content: "";
}

/* Flex Box / Flex Row */
.flex-row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 1200px;
}
.flex-row > .status-grid {
  //height: 400px;
  width: ((98% - 4%) / 2);
  //width:300px;
  margin: 0 1.5%;
}
