@import "bourbon";
@import "mixins";

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.equipment-admin ul {
  margin: 0;
  padding: 0;
}

.equipment-admin ul li {
  list-style: none;
  float: left;
}

.vehicle-admin ul {
  margin: 0;
  padding: 0;
}

.vehicle-admin ul li {
  list-style: none;
  float: left;
}

legend button {
  margin: 0px 0px 8px 8px !important;
}

$line-height: 30px;
$font-size: 12px;

.rowheader {
  font-weight: 200;
  background-color: #cbcbcb;
  line-height: 33px;
}

.name {
  border-bottom: 1px solid #286090;
  height: $line-height;
  line-height: $line-height;
  font-size: $font-size;
}
.data {
  border-bottom: 1px solid #286090;
  height: $line-height;
  line-height: $line-height;
  font-size: $font-size;
}
.date {
  border-bottom: 1px solid #286090;
  height: $line-height;
  line-height: $line-height;
  font-size: $font-size;
}

.available {
  background-color: #cbe4cd !important;
}
.unavailable {
  background-color: #ceb0b0 !important;
}
.status {
  background-color: #aeaeae !important;
}

.studio8-header {
  color: red;
}

.control-label {
  text-align: left !important;
}

#verifyForm {
  margin: 12px;
  padding: 4px;
}

/** Buttons **/
.btn-warning {
  color: #333 !important;
}

/* Vehicles Page */
legend img {
  margin-bottom: 5px;
}

.alert {
  margin: 10px 0px !important;
  line-height: 24px;
  font-weight: 300;
}

@import "admin";
@import "status";

.clearrow {
  clear: both;
}

div.popover {
  min-width: 30%; // Max Width of the popover (depending on the container!)
}
