body {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header {
  border-bottom: 1px solid #e5e5e5;
}
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
.equipment-admin ul {
  margin: 0;
  padding: 0;
}
.equipment-admin ul li {
  list-style: none;
  float: left;
}
.vehicle-admin ul {
  margin: 0;
  padding: 0;
}
.vehicle-admin ul li {
  list-style: none;
  float: left;
}
legend button {
  margin: 0 0 8px 8px !important;
}
.rowheader {
  font-weight: 200;
  background-color: #cbcbcb;
  line-height: 33px;
}
.data,
.date,
.name {
  border-bottom: 1px solid #286090;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}
.available {
  background-color: #cbe4cd !important;
}
.unavailable {
  background-color: #ceb0b0 !important;
}
.status {
  background-color: #aeaeae !important;
}
.studio8-header {
  color: red;
}
.control-label {
  text-align: left !important;
}
#verifyForm {
  margin: 12px;
  padding: 4px;
}
.btn-warning {
  color: #333 !important;
}
legend img {
  margin-bottom: 5px;
}
.alert {
  margin: 10px 0 !important;
  line-height: 24px;
  font-weight: 300;
}
.admin-tool-bucket {
  background: #f5f5f5;
  min-height: 100px;
  padding: 14px;
  margin: 10px auto;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  box-shadow: 2px 2px 8px #ccc;
}
.admin-panel ul {
  margin: 0;
  padding: 0;
  display: block;
  clear: both;
}
.admin-panel li {
  padding: 3px 0 2px 6px;
  list-style: none;
  float: left;
  min-width: 33%;
  border: 1px solid #fff;
}
.admin-panel button {
  margin: 40px 0 5px;
  clear: both;
  display: block;
}
#logout-btn {
  margin: 4px 0;
}
.billboard {
  min-width: 1900px !important;
}
.billboard legend {
  font-weight: 500;
  font-size: 2em !important;
}
.billboard-time {
  font-family: Lucida Grande, Tahoma, Verdana, Arial, sans-serif;
  font-variant: small-caps;
}
.billboard-tool-bucket {
  background: #f5f5f5;
  min-height: 100px;
  padding: 5px;
  margin: 10px auto;
  box-shadow: 2px 2px 20px #ccc;
}
.billboard-tool-bucket:after {
  clear: both;
  content: "";
  display: table;
}
.status-panel-billboard {
  list-style: none;
  min-width: 49%;
  border: 1px solid #ccc;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.status-panel-billboard:after {
  clear: both;
  content: "";
  display: table;
}
.billboard-tool-bucket h3 {
  margin: 10px;
}
.status-panel-billboard ul,
.status-panel-large ul,
.status-panel ul {
  padding: 0;
  margin: 0;
}
.status-panel-billboard ul:after,
.status-panel-large ul:after,
.status-panel ul:after {
  clear: both;
  content: "";
  display: table;
}
.status-panel li {
  min-width: 49%;
}
.status-panel-large li,
.status-panel li {
  padding: 3px 0 2px 6px;
  margin: 1px;
  list-style: none;
  float: left;
  border: 1px solid #fff;
}
.status-panel-large li {
  min-width: 19.8%;
}
.status-panel-large li:after {
  clear: both;
  content: "";
  display: table;
}
ul.bb {
  margin: 2px 4px 8px 0;
  list-style: none;
  float: left;
  width: 49%;
  border: 1px solid #ccc;
  word-wrap: break-word;
}
li.bb-name {
  font-weight: 500;
  font-size: 1.4em;
  padding: 6px 1px 6px 10px;
  margin: 1px;
  min-width: 98.6%;
  border: 1px solid #fff;
  background-color: #dfdfdf;
}
li.bb-date,
li.bb-pack {
  font-weight: 300;
  font-size: 1.3em;
  padding: 2px 1px 2px 10px;
  margin: 1px 2px 1px 1px;
  min-width: 49%;
  border: 1px solid #fff;
  background-color: #dfdfdf;
}
ul.bb-full {
  list-style: none;
  float: left;
  word-wrap: break-word;
  width: 12%;
  margin: 2px 8px 8px 0;
  border: 1px solid #ccc;
}
li.bb-data {
  font-weight: 300;
  font-size: 1.3em;
  padding: 2px 1px 2px 10px;
  margin: 1px 2px 1px 1px;
  min-width: 49%;
  border: 1px solid #fff;
  background-color: #dfdfdf;
}
span.carpng:before {
  background-size: 14px 14px;
  display: inline-block;
  background-image: url(/imgs/car.png);
  width: 14px;
  height: 14px;
  content: "";
}
.flex-row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 1200px;
}
.flex-row > .status-grid {
  width: 47%;
  margin: 0 1.5%;
}
.clearrow {
  clear: both;
}
div.popover {
  min-width: 30%;
}
